BOT_ACCESS_TOKEN=""
GROUP_CHAT_ID=""
ERROR_GROUP_CHAT_ID=""
ETHERSCAN_API_KEY=""
ETH_RPC_URL=""
ETH_WS_URL=""
AUCTION_HOUSE_ADDRESS="0xfF737F349e40418Abd9D7b3c865683f93cA3c890"
EXPLORER_BASE_URL="https://etherscan.io"
AUCTION_UI_BASE_URL=""
LOG_LEVEL="INFO"
